<launch>

    <arg name="odom_topic" default="odometry/kalman"/>
    <arg name="matching_err_tol" default="0.05"/>
    <arg name="inlier_fraction_tol" default="0.95"/>
    <arg name="is_publish_tf" default="false"/>

    <node pkg="gps_localizer" name="gps_localizer" type="gps_localization.py" />
    
    <node pkg="map_matching_localization" name="kalman" type="kalman.py">
        <param name="is_publish_tf" value="$(arg is_publish_tf)"></param>
    </node>
    
    <node pkg="map_matching_localization" name="relocalizer" type="relocalizer.py" output="screen">
        <param name="odom_topic" value="$(arg odom_topic)"></param>
        <param name="matching_err_tol" value="$(arg matching_err_tol)"></param>
        <param name="inlier_fraction_tol" value="$(arg inlier_fraction_tol)"></param>
    </node>
</launch>