<launch>
    <arg name="odometry_enable" default="false" />
    <arg name="save_waypoint" default="false" />

    <!-- k-city_ys -->
    <!-- <arg name="db_name" default="/0909_ys.db" />
    <arg name="path_name" default="ys_path.csv" />
    <arg name="waypoints_file" default="ys_waypoint.csv" /> -->

    <!-- k-city_bs -->
    <arg name="db_name" default="/0924_bs.db" />
    <arg name="path_name" default="bs_path.csv" />
    <arg name="waypoints_file" default="bs_waypoint.csv" />

    <!-- school ys-->
    <!-- <arg name="db_name" default="/0903_test.db" />
    <arg name="path_name" default="school_ys.csv" />
    <arg name="waypoints_file" default="school_test_waypoint.csv" /> -->

    <!-- school bs -->
    <!-- <arg name="db_name" default="/0914_test.db" />
    <arg name="path_name" default="school_bs.csv" />
    <arg name="waypoints_file" default="school_test_waypoint.csv" /> -->


    <!-- waypoints -->
    <include file="$(find path_plan)/launch/waypoints.launch">
        <arg name="save_waypoint" default="$(arg save_waypoint)" />
        <arg name="odometry_enable" default="$(arg odometry_enable)" />
        <arg name="waypoints_file" default="$(arg waypoints_file)" />
    </include>

    <!-- node -->
    <node pkg="path_plan" type="LoadPath.py" name="LoadPath" output="screen">
        <param name="db_name" type="string" value="$(arg db_name)"/>
        <param name="path_name" type="string" value="$(arg path_name)"/>
    </node>

</launch>