<launch>
    <include file="$(find map_matching_localization)/launch/localization.launch">
        <arg name="is_publish_tf" default="false" />
    </include>

    <include file="$(find path_plan)/launch/load_path.launch">
        <arg name="odometry_enable" default="true" />
        <arg name="save_waypoint" default="false" />
        <arg name="db_name" default="/kcity_0722.db" />
        <arg name="path_name" default="test.csv" />
        <arg name="waypoints_file" default="kcity.csv" />
    </include>
</launch>