<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="imu_port" default="/dev/ttyIMU" /> 
    <arg name="gps_port" default="/dev/ttyACM1" /> 

    <include file="$(find ublox_gps)/launch/ublox_device.launch">
        <arg name="gps_port" default="$(arg gps_port)" /> 
    </include>
    <include file="$(find ntrip_ros)/launch/ntrip_ros.launch"/>
    <include file="$(find xsens_mti_driver)/launch/xsens_mti_node.launch"/>
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
</launch>
