<h1>
    <a href="/" style="text-decoration: None; font-size: 30px; color: black; font-weight: bolder;">ACCA</a>
    <br>
    <a href="/waypoint" style="text-decoration: None; font-size: 15px; color: black; font-weight: bolder;">waypoint</a>
</h1>