<h1>
    <a href="/" style="text-decoration: None; font-size: 30px; color: black; font-weight: bolder;">ACCA</a>
    <br>
    <a href="/path/waypoint" style="text-decoration: None; font-size: 15px; color: black; font-weight: bolder;">waypoint</a>
    <br>
    <a href="/path/savepath" style="text-decoration: None; font-size: 15px; color: black; font-weight: bolder;">save path</a>
    <br>
    <a href="/gps/logger" style="text-decoration: None; font-size: 15px; color: black; font-weight: bolder;">gps tracker</a>
</h1>