<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
  </head>
  <body>

    <% include partial %>

    <h2><%= name %></h2>

    <p id="subscribe"></p>

  </body>
  <script>
      const name = "<%= name %>"
      const type = "<%= type %>"
  </script>
  <script src="/js/topic.js"></script>
</html>
