<launch>
    <!-- <param name="use_sim_time" type="bool" value="true" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="odom_pub" args="0.0 0 0.0 0.0 0.0 0.0 1.0 odom base_link 100" /> -->
    <node pkg="tf" type="static_transform_publisher" name="velodyne_pub" args="1.0 0 1.0 0.0 0.0 0.0 1.0 base_link velodyne 100" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="encoder_pub" args="0.0 0 0.0 0.0 0.0 0.0 1.0 base_link encoder 100" />
    <node pkg="tf" type="static_transform_publisher" name="gps_pub" args="0.0 0 0.0 0.0 0.0 0.0 1.0 base_link gps 100" />
    <node pkg="tf" type="static_transform_publisher" name="imu_link_pub" args="0.0 0 0.0 0.0 0.0 0.0 1.0 base_link imu_link 100" /> -->
</launch>