<launch>
    <node pkg="tf" type="static_transform_publisher" name="velodyne_pub" args="0.0 0 0.0 0.0 0.0 0.0 1.0 base_link velodyne 10" />
    <node pkg="tf" type="static_transform_publisher" name="encoder_pub" args="0.0 0 0.0 0.0 0.0 0.0 1.0 base_link encoder 10" />
    <node pkg="tf" type="static_transform_publisher" name="gps_pub" args="0.0 0 0.0 0.0 0.0 0.0 1.0 base_link gps 10" />
    <node pkg="tf" type="static_transform_publisher" name="imu_link_pub" args="0.0 0 0.0 0.0 0.0 0.0 1.0 base_link imu_link 10" />
</launch>